gunicorn
psycopg2-binary
boto3
apache-airflow-providers-ssh
apache-airflow-providers-amazon
apache-airflow-providers-celery
apache-airflow-providers-postgres
supabase
kaggle
celery
requests
pandas
numpy
matplotlib
scipy
seaborn
pyarrow
openpyxl
python-dotenv
great-expectations
loguru
dbt-core
dbt-athena-community
ydata-profiling
setuptools<70.0.0
