# Usuario y VHost aislados
# Usuario administrador para acceder al panel de gestión de RabbitMQ
RABBITMQ_DEFAULT_USER=tu_usuario_rabbitmq

# Contraseña para el usuario administrador
RABBITMQ_DEFAULT_PASS=tu_password_seguro

# El Virtual Host (vhost) que agrupará las colas de Airflow para mayor aislamiento
RABBITMQ_DEFAULT_VHOST=tu_vhost_name

# El secreto para la escalabilidad (Erlang Cookie)
# Es una cadena de texto que debe ser IGUAL en todos los nodos de un clúster de RabbitMQ
# para que puedan comunicarse entre sí.
RABBITMQ_ERLANG_COOKIE=tu_secreto_erlang_cookie_aqui

# Ruta de rabbit
# Define la subcarpeta o "path" donde vivirá la interfaz web de RabbitMQ
# Útil si estás usando un proxy inverso para servir múltiples servicios en un solo dominio.
RABBITMQ_BASE_PATH="/rabbitmq"
