# Variables Generales
# Zona horaria para sincronizar logs y procesos
TZ=America/Bogota

# ID del Usuario (PUID) y del Grupo (PGID) de Linux.
# Se usa para que los archivos creados por los contenedores pertenezcan al usuario local
# y no al usuario root, evitando problemas de permisos en el host.
# El valor 1000 suele ser el estándar para el primer usuario en sistemas Ubuntu/Debian.
PUID=1000
PGID=1000
